@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
   background-color: white;
   text-align: center;
   padding: 20px;
}
.navbar a{
    text-decoration: none;
    padding: 40px;
    color: black;
    font-size: 20PX;
    font-weight: bold;
}
.navbar a:hover {
    color: #FF6347; /* Ndryshon ngjyrën në portokalli kur kalon mbi të */
}
.img1{
	width: 100%;
	height: 500px;
}
.centered {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-40%, -45%);
  text-align: center;
  color: white;
  font-size: 30px;
  display: block;
}
.centered button{
	padding: 10px 15px 10px 15px;
}
.show-event{
  text-align: center;
  color: white;
  display: block;
  margin-top: -50px
}

.festival-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  padding: 100px 20px; 
  margin-top: -5px; 

}

.festival-info h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #cd9494;
  margin: 10px 0; 
}

.festival-info p {
  font-size: 1.1rem; 
  line-height: 1.6; 
  color: #b1a9a9;
  max-width: 800px;
  margin: 10px 0; 
}

.grid.full-width {
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin: 0; 
  padding: 0;
  gap: 20px;
}

.grid-item {
  flex: 1;
  width: 100%;
 
}

.grid-item iframe {
  width: 100%; 
  height: 450px;
  border: none; 
}

.grid-item h4,p {
  margin: 20px 0;
  text-align: center;
  margin-top: auto;
}
h4:hover {
  color: #e55e10; /* Ndryshon ngjyra në të bardhë kur kalon mbi të */
}
.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:whitesmoke;
  color: var(--text-color);
  padding-top: 20px;
  padding-left: 80px;
  margin-top: 20px;
}
.footer-item {
  padding: 20px;
  margin-left: 30px;
  font-size: 20px;
}

.footer-item2 {
  padding: 20px;
  font-size: 20px;
  margin-left: 200px;
}

.footer-item img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 10px;
}

.footer-item h3 {
  padding-left: 100px;
}

.footer-item1 {
  font-size: 20px;
  padding-top: 40px;
 
}
/*----------NEWS------------*/
#header {
  margin-top: 20px;
  background: linear-gradient(to right,  rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 20), rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 30)); 
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header h1 {
  color: white;
  font-size: 3rem;
  font-family: Arial, sans-serif;
}

#container {
  background-color: rgb(239, 76, 22);
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.news {
  font-size: 25px;
  font-family: sans-serif;
  border-bottom: 2px solid black;
  text-align: center;
  transition: background-color 0.3s ease; 
}

.news:hover { /*kur tklikojsh te about shfaqet ngjyr portokalli*/
  background-color: rgb(236, 88, 2);
  color: black;
  padding-top: 3px;
}


/*---------TICKETS--------------*/
.pjesa1{
  background: linear-gradient(to right,  rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 20), rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 30));
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  float: inline-start;
  align-content: center;
  font-size: 25px
}
.container1 {
  display: flex;
  padding: 5px; 
  flex-wrap: wrap; /* Për të qenë responsive */
}

.card {
  background-color: white;
  text-align: center;
  padding: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  width: 250px; 
  border-right: 2px solid grey; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Fillon e padukshme */
  transform: translateY(50px); /* Fillon poshtë */
  animation: slideIn 1s forwards; /* Lëviz drejt pozicionit */
}

.card h1 {
  font-size: 33px;
  margin-bottom: 15px;
  color:  black;
}

.container1 .price {
  font-weight: bold;
  color: #777; 
 } 
.card p {
  font-size: 0.9em;
  color: black;
}
.button1 {
  background-color: rgb(239, 76, 22);
  color: white;
  border: none;
  border-radius: 1px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1em;
}

.button1:hover {
  background-color: #e13f1b;
}
#button{
  margin-top:36px ;
}

.card:nth-child(1) {
  animation-delay: 0.2s;
}

.card:nth-child(2) {
  animation-delay: 0.4s;
}

.card:nth-child(3) {
  animation-delay: 0.6s;
}

.card:nth-child(4) {
  animation-delay: 0.8s;
}

/* Animacioni i butonit kur kalon mbi të */
.button1 {
  transition: all 0.3s ease-in-out;
}

.button1:hover {
  transform: scale(1.1); /* Zmadhohet butoni */
}

/* Kyçja e animacionit */
@keyframes slideIn {
  to {
    opacity: 1; /* Bëhet i dukshëm */
    transform: translateY(0); /* Kthehet në pozicionin fillestar */
  }
}


/*-------ANIMACIONI ME TICKETS-------*/
.tickets-logo-section {
  text-align: center;
  margin-top: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.tickets-logo-section h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}

.tickets-logos {
  display: flex;              /* Radhit në një rresht */
  justify-content: center;   
  gap: 20px;                  /* Hapësirë mes ikonave */
  flex-wrap: wrap;            /* Lejo që të mbështillen për ekranet e vogla */
}

.ticket-icon {
  font-size: 40px;            /* Madhësia e ikonave */
  color: #e64917;
  animation: bounce 2s infinite ease-in-out; /* Anima ikonat */
}

.ticket-icon:nth-child(2) {
  animation-delay: 0.2s;
}

.ticket-icon:nth-child(3) {
  animation-delay: 0.4s;
}

.ticket-icon:nth-child(4) {
  animation-delay: 0.6s;
}

.ticket-icon:nth-child(5) {
  animation-delay: 0.8s;
}

.ticket-icon:nth-child(6) {
  animation-delay: 1s;
}
.ticket-icon:nth-child(7) {
  animation-delay: 1.2s;
}

/* Animacioni */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Lëviz lart */
  }
  100% {
    transform: translateY(0); /* Kthehet poshtë */
}
}



/*-----PJESA E FAQ Q&A------*/
.faq-container {
  width: 100%;
  padding-top: 30px;
  
  
}

/* FAQ Item */
.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(195, 59, 39);
  padding-bottom: 10px;
  font-size: 25px;
  padding-left: 35px;
  position: relative;
}

/* Hide the checkbox (toggle) */
.faq-item input[type="checkbox"] {
  display: none;
}

/* Question Label */
.faq-question {
  
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  transition: color 0.3s ease;
}


/* Arrow */
.arrow {
  padding-right: 30px;
  transition: transform 0.3s ease;
}

/* Rotate arrow when checkbox is checked */
.faq-item input[type="checkbox"]:checked + .faq-question .arrow {
  transform: scaleY(-1);
}

/* Answer Paragraph */
.faq-answer {
  max-height: 0;
  overflow: hidden;
 font-size: 25px;
  color: #666;
  transition: max-height 0.3s ease;
  padding: 0 10px;
}

/* Show answer when checkbox is checked */
.faq-item input[type="checkbox"]:checked ~ .faq-answer {
  max-height: 200px; /* Zgjedhja e një max-height më të madhe për përgjigje më të gjata */
}
/*--------CARD PAYMENT-----------*/
.container{
  min-height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 60px;
}

.container form{
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  padding: 20px;
  width: 600px;
  padding-top: 160px;
}

.container form .inputBox{
  margin-top: 20px;
}

.container form .inputBox span{
  display: block;
  color:#999;
  padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border:1px solid rgba(0,0,0,.3);
  color:#444;
}

.container form .flexbox{
  display: flex;
  gap:15px;
}

.container form .flexbox .inputBox{
  flex:1 1 150px;
}

.container form .submit-btn{
  width: 100%;
  background:linear-gradient(to right,  rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 20), rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 30));
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color:#fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
}

.container form .submit-btn:hover{
  letter-spacing: 2px;
  opacity: .8;
}

.container .card-container{
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 400px;
}

.container .card-container .front{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
  background:linear-gradient(to right,  rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 20), rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 30));
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  padding:20px;
  transform:perspective(1000px) rotateY(0deg);
  transition:transform .4s ease-out;
}

.container .card-container .front .image{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 10px;
}

.container .card-container .front .image img{
  height: 50px;
}

.container .card-container .front .card-number-box{
  padding:30px 0;
  font-size: 22px;
  color:#fff;
}

.container .card-container .front .flexbox{
  display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
  margin-right: auto;
}

.container .card-container .front .flexbox .box{
  font-size: 15px;
  color:#fff;
}

.container .card-container .back{
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background:linear-gradient(to right,  rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 20), rgb(230, 109, 64), rgb(237, 121, 54), rgb(230, 70, 30));
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  transform:perspective(1000px) rotateY(180deg);
  transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.container .card-container .back .box{
  padding: 0 20px;
}

.container .card-container .back .box span{
  color:#fff;
  font-size: 15px;
}

.container .card-container .back .box .cvv-box{
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color:#333;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}

.container .card-container .back .box img{
  margin-top: 30px;
  height: 30px;
}

/*---------------CONTACT US-------------------*/
.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("contact.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
}

.form-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: rgba(255, 255, 255, 0.9); /* Sfond i bardhë me pak transparencë */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Hije pak më e errët */
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #333; /* Tekst më i errët për kontrast më të mirë */
}

.form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc; /* Kufij pak më të theksuar */
  border-radius: 5px;
}

.form button {
  background-color: #771862;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.form button:hover {
  background-color: #a12084;
}

.form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.form span {
  color: #681555;
  cursor: pointer;
  font-weight: bold;
}

.form span:hover {
  text-decoration: underline;
}

.form p {
  margin-top: 20px;
  color: #333; /* Tekst më i errët për lexueshmëri më të mirë */
}

/*NJE STILIZIM NDRYSHE I LOGIN
.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("contact.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
}

.form-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: rgba(0, 0, 0, 0.4);  /* Përdor një ngjyrë të errët për të bërë kontrast me formën 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px white;
  backdrop-filter: blur(10px);  /* Aplikoje mjegullimin e sfondit 
  -webkit-backdrop-filter: blur(10px);
}
.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
}

.form input {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 5px white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.form button {
  background-color: white;
  color: black;
  border: none;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.form button:hover {
  background-color: rgba(255, 255, 255, 0.916);
}

.form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: white;
}

.form span {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.form span:hover {
  text-decoration: underline;
}

.form p {
  margin-top: 20px;
  color: white;
}

.form a {
  color: white;
}
.form input::placeholder {
  color: white;  /* Zgjidhni ngjyrën që dëshironi 
  opacity: 1;  /* Kontrolloni dukshmërinë e placeholder-it 
}
/* Responsive Design for Smaller Screens 
@media screen and (max-width: 600px) {
  .form-container {
    width: 250px;
  }
  .form h2 {
    font-size: 24px;
  }
  .form button {
    font-size: 14px;
  }
}
  */


  /*----------- ABOUT US----------------*/

 .b{
      text-align: center;
      background: linear-gradient(to right,  rgb(230, 209, 64), rgb(237, 121, 54), rgb(230, 70, 20), rgb(237, 121,54), rgb(230, 70, 30) );;
      padding: 100px;
      
      
  }
  .a{
      background-color: deeppink;
      display: grind;
      place-items: center;
  }
  div ul{
      list-style-type: none;
  }
  div ul a{
      display: inline-block;
      padding: 20px;
  
  }
  
    .image {
      display: inline-block;
      margin-right: 20px;
    }
    .text {
      float: right;
    }
    .c{
      text-align: center;
      background-color: grey;
      padding: 50px;
    }
  
    .gallery1{
      margin-top: -20px;
      display: flex;
    }
    .gallery1 img{
      width: 364px;
      display: 600px;
    }
    .gallery2{
      margin-top: -20px;
      display: flex;
    }
    .gallery2 img{
      width: 364px;
      display: 600px;
    }
    .gallery3{
      margin-top: -20px;
      display: flex;
    }
    .gallery3 img{
      width: 364px;
      display: 600px;
    }